#/etc/rancher/rke2/resolv.conf
#via ansible
#RFC-016 DNS - https://xwiki.govdigital.de/bin/view/Kubernetes/Projekt%20K8S-MVP/RFCs%20des%20K8s-MVP/RFC-016%20DNS/
nameserver 8.8.8.8
nameserver 1.1.1.1
nameserver 8.8.4.4
#domain localdomain
#search localdomain